@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #1d90dd;
  --secondary: #e7b246;
  --accent: #ffffff;
  --textSmall: 12px;
  --textMedium: 20px;
  --textBig: 32px;
  --textBiggest: 60px;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --accent: var(--accent);
  --text-small: var(--textSmall);
  --text-medium: var(--textMedium);
  --text-big: var(--textBig);
  --text-biggest: var(--textBiggest);
}
.title {
  font-size: var(--textBiggest);
}
body {
  background-image: url("/bg.png");
  color: var(--foreground);
  padding: 0 80px;
  font-size: var(--textMedium);
}
